@import url('../../assets/css/fonts.css');
@import url('../../styles.css');

/* ------------- navBar    --------------------- */

.nav {
    background: white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
}

.nav-menu {
    justify-content: space-between;
}

.collapse {
    height: 30rem;
}

.toggle-collapse {
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
    height: 30rem;
}

.toggle-collapse .toggle-icons {
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.toggle-collapse .toggle-icons i {
    font-size: 1.4rem;
    color: var(--text-gray);
}

.nav-items {
    display: flex;
    margin: 0;
}

.nav-link {
    position: relative;
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    font-family: var(--Abel);
    font-size: 1.1rem;
}

.nav-link:hover {
    background-color: var(--midnight);
}

.nav-link:hover a {
    color: var(--white);
}

.nav-brand a {
    display: block;
    font-size: 1.6rem;
    padding: 1rem 0;
    font-family: var(--Lexend);
    font-size: 1.6rem;
}

.social {
    padding: 1.4rem 0;
    border: black;
}

.social i {
    padding: 0 .2rem;
}

.social i:hover {
    color: #a1c4cf;
}
