<footer class="footer">
    <div class="container">
        <div class="about-us">
            <h2>About us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dicta obcaecati similique eligendi voluptates tempora rem voluptate! Qui, inventore ullam.</p>
        </div>
        <div class="newsletter">
            <h2>Newsletter</h2>
            <p>Stay update with our latest</p>
            <div class="form-element">
                <input type="text" placeholder="Email"><span><i class="fas fa-chevron-right"></i></span>
            </div>
        </div>
        <div class="instagram">
            <h2>Instagram</h2>
            <div class="flex-row">
                <img src="../../assets/images/instagram/thumb-card6.png" alt="insta4">
                <img src="../../assets/images/instagram/thumb-card7.png" alt="insta5">
                <img src="../../assets/images/instagram/thumb-card8.png" alt="insta6">
            </div>
            <div class="flex-row">
                <img src="../../assets/images/instagram/thumb-card3.png" alt="insta1">
                <img src="../../assets/images/instagram/thumb-card4.png" alt="insta2">
                <img src="../../assets/images/instagram/thumb-card5.png" alt="insta3">
            </div>
        </div>
        <div class="follow">
            <h2>Follow</h2>
            <p>Let us be social</p>
            <div>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-youtube"></i>
            </div>
        </div>
    </div>
    <div class="rights flex-row">
        <h4 class="text-gray">
            Copyright ©2019 All rights reserved | made by
            <a href="#" target="_black">Aarkamatha <i class="fab fa-artstation"> inc</i></a>
        </h4>
    </div>
    <div class="move-up">
        <span><i class="fas fa-arrow-circle-up fa-2x"></i></span>
    </div>

</footer>
<router-outlet></router-outlet>
